@model employee_management_system.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Delete Employee";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<form action="Edit" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">EmployeeId</label>
        <input type="text" class="form-control" asp-for="EmployeeId" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" asp-for="Name" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" asp-for="Email" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNo" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">Job Title</label>
        <input type="text" class="form-control" asp-for="JobTitle" readonly />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete employee @Model.Name')">Delete</button>
    </div>
</form>